#edit-test, #verify-response {

  i.action {
    cursor:    pointer;
    color:     $dark-gray;
    font-size: 1.5rem;
  }

  i.action.primary {
    color: $primary-color;
  }

  i.action.alert {
    color: $alert-color;
  }

  .score-indicator {
    position: absolute;
    top:      0;
    bottom:   0;
    width:    0.5rem;

    &.alert {
      background-color: $alert-color;
    }

    &.success {
      background-color: $success-color;
    }
  }

  .actions {

    .action {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &.left {
      position: absolute;
      left:     1rem;
      top:      1rem;
    }

    &.right {
      position: absolute;
      right:    1rem;
      top:      1rem;
    }

    &.middle {
      top: auto;
    }

  }

  .drag-handle i, .drag-handle {
    cursor: move !important;
  }

}
