#edit-test, #verify-response {

  i.action {
    cursor:    pointer;
    color:     $dark-gray;
    font-size: 1.5rem;
  }

  i.action.primary {
    color: $primary-color;
  }

  i.action.alert {
    color: $alert-color;
  }

  .score-indicator {
    position: absolute;
    top:      0;
    bottom:   0;
    width:    0.5rem;

    &.alert {
      background-color: $alert-color;
    }

    &.success {
      background-color: $success-color;
    }
  }

  .actions {

    .action {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &.left {
      position: absolute;
      left:     1rem;
      top:      1rem;
    }

    &.right {
      position: absolute;
      right:    1rem;
      top:      1rem;
    }

    &.middle {
      top: auto;
    }

  }

  .drag-handle i, .drag-handle {
    cursor: move !important;
  }

  .edit-input, .edit-input > input {
    margin:           0;
    padding:          0;
    border:           0;
    box-shadow:       none;
    background:       transparent;
    text-decoration:  underline;

    &.title-input {
      font-family: 'Nunito', sans-serif;
      font-size:   1.47059rem;
      line-height: 1.4;
      height:      1.4em;
      width:       95%;
    }

    &.description-input {
      font-style:  italic;
      font-size:   1rem;
      line-height: 1.5;
      height:      1.5em;
      width:       95%;
    }

    &.num-input {
      line-height: 1.5;
      height:      1.5em;
      min-width:   1rem;
    }

    &.select {
      line-height: 1.5;
      height:      1.5em;
      cursor:      context-menu;
    }
  }

}
