.entities-list-panel {
  margin-bottom: 1rem;
}

.entities-list {
  margin:     0;
  list-style: none;
  position:   relative;

  li {
    border-top:  1px solid $medium-gray;
    padding:     1rem 0;
    transition:  background-color 0.25s ease-out;
    font-size:   0.875rem;

    .button-group {
      margin: 0;
    }
  }

  li:last-child {
    border-bottom: 1px solid $medium-gray;
  }

  .warnings {
    color: $warning-color;
    white-space: pre-wrap;
  }

  .material-icons.status {

    &.warning {
      color:     $warning-color;
      font-size: 1.5rem;
      cursor:    default;
    }
  }
}

.hash {
  font-size: 0.875rem;

  .key {
    display:        inline-block;
    width:          35%;
    text-align:     right;
    font-style:     italic;
    color:          #666;
    vertical-align: top;

    &.w-20 { width: 20%; }
    &.w-45 { width: 45%; }
    &.w-70 { width: 60%; }
  }

  .value {
    display:       inline-block;
    width:         65%;
    word-wrap:     break-word;
    padding-left:  0.5rem;
    padding-right: 0.5rem;

    &.w-80 { width: 80%; }
    &.w-55 { width: 55%; }
    &.w-30 { width: 40%; }
  }
}
