body {
  font-family: 'Open Sans', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
  }

  .reveal {
    z-index: 5000;
  }

  .tooltip[role='tooltip'] {
    margin-top: 0.75rem;
  }
}
